<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.role.name}"></td>
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.id})}"
               th:if="${currentUser?.role?.name == 'ADMIN'}">Edit</a>
            <a th:href="@{/users/delete/{id}(id=${user.id})}" onclick="return confirm('Are you sure?')"
               th:if="${currentUser?.role?.name == 'ADMIN'}">Delete</a>

            <a th:unless="${currentUser?.role?.name == 'ADMIN'}"
               onclick="return alert('У вас нет прав для выполнения этого действия');"
               style="color: grey; cursor: not-allowed;">Edit</a>
            <a th:unless="${currentUser?.role?.name == 'ADMIN'}"
               onclick="return alert('У вас нет прав для выполнения этого действия');"
               style="color: grey; cursor: not-allowed;">Delete</a>
        </td>
    </tr>
</table>

<a th:href="@{/users/new}" th:if="${currentUser?.role?.name == 'ADMIN'}">Add New User</a>

<a th:unless="${currentUser?.role?.name == 'ADMIN'}"
   onclick="return alert('У вас нет прав для выполнения этого действия');"
   style="color: grey; cursor: not-allowed;">Add New User</a>

</body>
</html>
